<!DOCTYPE html>
<html>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="static/css/style.css"/>
  </head>
  
  <body>
		<div class="navbar">
			<div class="navtitle">
				<h1>billboard next</h1>
			</div>

			<div class="navlinks">
				<a href="/current">THIS WEEK</a>
				<a href="/previous">LAST WEEK</a>
				<a href="/">NEXT WEEK</a>
			</div>
		</div>
		
    {% block body %}{% endblock %}
    
		<div class="footer">
			<p>
				Made with ❤️ 
			</p>
			<div class="profileImages">
				<a href="https://www.linkedin.com/in/christina-wong-26baa116b/" target="_blank">
					<img src="/static/images/christina.png" alt="Christina">
				</a>
				<a href="https://www.linkedin.com/in/kgauld1/" target="_blank">
					<img src="/static/images/kevin.png" alt="Kevin">
				</a>
				<a href="https://www.linkedin.com/in/jendy/" target="_blank">
					<img src="/static/images/jendy.png" alt="Jendy">
				</a>
				<a href="https://www.linkedin.com/in/ethan-horowitz-163b791ab/" target="_blank">
					<img src="/static/images/ethan2.png" alt="ethan">
				</a>
			</div>
		</div>
    
  </body>
  <script src="static/js/loadSongs.js"></script>
</html>