<!DOCTYPE html>
<html>
  <head>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="static/css/style.css"/>
  </head>
  
  <body>
		<div class="navbar">
			<div class="navtitle">
				<h1>billboard next</h1>
			</div>

			<div class="navlinks">
				<a href="link.com">THIS WEEK</a>
				<a href="link.com">LAST WEEK</a>
				<a href="link.com">NEXT WEEK</a>
			</div>
		</div>
		
		<div class="title">
    	<center><h1> NEXT WEEK'S TOP 10 </h1></center>
		</div>
		
    <div id="ranking" class="ranking"></div>

    
  </body>
  <script src="static/js/loadSongs.js"></script>
</html>